.cart {
  margin-left: 20px;
  margin-bottom: 21px;
  height: 830px;

  transition: all 0.5s;
}

.cart__title {
  display: flex;
}

.cart__title-text {
  padding: 13px;
  @extend %title;
  font-size: 32px;
  line-height: 39px;
}

.cart__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.inner__aout-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 17px;
  @extend %title;
  color: rgba(0, 0, 0, 0.6);
}


.inner__aout-text.active{
  display: none;
}


.cost-cart-summ {
  font-size: 32px;
}

.cost-cart {
  font-size: 22px;
  line-height: 24px;
}

.cart__buy {
  text-align: center;
}

.cart__items {
  width: 285px;
}

.cart__item {
  display: flex;
  font-size: 16px;
  line-height: 19px;
  justify-content: space-between;
  align-items: center;
  @extend %title;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.cart__item-counter {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.cross-button {
  background-color: transparent;
  border: none;
}

.cost-item {
  margin-top: 9px;
  font-size: 14px;
  line-height: 19px;
}

.cost-item-summ {
  font-size: 18px;
}

.buy {
  padding: 7px 60px;
  margin-top: 13px;
  font-size: 24px;
  line-height: 29px;
  @extend %title;
  border: none;
  background: #c4c4c4;
  border-radius: 8px;
}

.buy:hover {
  background-color: #000;
  color: #fff;
}

.cart__buy {
  display: none;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 80px;
  border-top: 1px solid #cccccc;
}

.cart__buy.active {
  display: flex;
}

