@media (max-width: $brekpoint1200) {
  .cart {
  position: fixed;
  width: 100%;  
  height: 100%;
  background-color: #fff;
  transform: translateX(2000px);
  top: 0;
  }

   .cart__items{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
  }
  .cart__item{
    width: 90%;
  }

  .cart__item{
    margin: 20px;
  }

  .main__inner {
  display: flex;
  }

.product__inner {
  grid-template-columns: 4fr 4fr;
}

.product__item {
  max-width: 100%;
}

.toggle-sidebar{
  display: block;

}
}

@media (max-width: $brekpoint700) {
.product__inner {
  display: flex;
  flex-direction: column;
}

#stop-client{
  margin-top: 5px;
  padding: 0 3px;
}

.toggle-sidebar{
  top: 10%;
}

}

@media (max-width: $brekpoint600) {
  .logo__title {
  font-size: 22px;
}

.header__inner-logo {
  padding: 5px;
}

.container {
  padding: 0px;
}


.header__inner-money {
  font-size: 16px;
}
}

@media (max-width: $brekpoint400) {
  .logo__title {
  font-size: 18px;
}

.header__inner-money {
  font-size: 14px;
}

.option__item {
  font-size: 12px;
}

.button {
    padding: 6px 19px;
}
}