.product__inner {
  display: grid;
  grid-template-columns: 4fr 4fr;
  margin-top: 30px;
  grid-gap: 20px;
 
}

 .nope {
    font-size: 32px;
    line-height: 24px;
    display: none;
    color: rgba(0, 0, 0, 0.29);
    top: 50%;
    left: 30%;
    position: fixed;
  }

  .nope.active {

    display: block;

  }

.mix__item {
  display: inline-block;
}

.product__item {
  display: flex;

  max-width: 361px;
}
.product__item-img {
  width: 83px;
  height: 108px;
}

.product__item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
}
.item-text__title {
  font-size: 16px;
  line-height: 24px;
}

.item-text__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cost-summ {
  font-size: 24px;
}

.cost {
  font-size: 16px;
  line-height: 24px;
}
.button {
  font-size: 16px;
  line-height: 24px;
  padding: 7px 26px;
  border: none;
  background: #c4c4c4;
  border-radius: 8px;
  transition: all 0.5s;
}

.button:hover {
  background-color: #000;
  color: #fff;
}
